@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Hebrew:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Qwitcher+Grypen:wght@400;700&display=swap');

/* This is a css comment */

/* Select by element TYPE*/
body {
    background-color: rgb(201, 200, 223);
}

p {
    color:rgb(20, 89, 121);
    font-family: "Noto Sans KR", sans-serif;
}

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    text-align: center;
    font-family: "Qwitcher Grypen", cursive;
    margin: 7%;
    padding: 50px
}


/* Select by CLASS name*/
.border {
    border: 2px solid black;
    background-color: rgb(25, 155, 194);
}


/* Select by ID name (unique) */
#intro {
    background-color: gainsboro;
}

/* Select by element TYPE*/
li {
    color: rgb(16, 147, 170)
}

/* Select by element TYPE*/
li {
    font-family: cursive;
}


/* Properties: colors and typography*/
em {
    color: rgb(194, 92, 134);
    background-color: whitesmoke;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    

}

/* Box Model: margin, border, padding, content*/
img {
    border-width: 200px;
    border-style: dashed;
    border-color:rgb(255, 3, 3);
    border-radius: 100%;
    
}
hr {
    border-width: 100px;
    border-style: dashed;
    border-color:rgb(215, 53, 255);
    border-radius: 100%;
}
/* TIP: easy way to center anything */
.centered-container {
    margin: auto;
    text-align: center;

}
